.about {
    /* height: 100vh; */
    width: 100%;
    margin-top: 50px;
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img {
    width: 500px;
}

.about-img img {
    object-fit: contain;
    width: 100%;
}

.about h1 {
    font-family: "Merienda", sans-serif;
    font-weight: bolder;
    color: orchid;
    font-size: 3.5rem;
}

.about .container p {
    width: 85%;
    font-weight: 500;
    line-height: 2.2;
    color: rgb(191, 191, 191);
}