.navbar {
    padding: 20px;
}

.navbar-brand {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(161 161 170)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-item {
    width: 100%;
    text-align: center;
}

.nav-link {
    width: 100%;
    font-weight: 600;
    padding: 10px 25px;
    margin-right: 10px;
    border-radius: 5px;
    transition: .3s;
}

.nav-link:hover {
    background-color: rgba(129, 129, 129, 0.2);
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 25px;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
        margin-top: 10px;
        padding: 20px;
        background-color: rgb(34, 34, 34);
    }

    .nav-item {
        font-size: 0.9rem;
    }
}